section {
  position: relative;
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1,
h2 {
  margin: 0;
  font-size: 15vmin;
}

h2 {
  position: fixed;
  top: calc(25vh - 15vmin);
}

div {
  position: relative;
  width: max-content;
}

input {
  width: 90vw;
  margin: 0;
  border: 1px solid #c8bdbd;
  border-radius: 6vmin;
  font-size: 10vmin;
  text-align: center;
  line-height: 1.5;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  font-size: 0;
  font-weight: 900;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

input:placeholder-shown + label {
  font-size: 7vmin;
  opacity: 1;
  color: #f00;
  -webkit-transform: translateY(-15vmin);
  -ms-transform: translateY(-15vmin);
  transform: translateY(-15vmin);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

input:focus {
  outline: none;
  border: 1px solid #000;
}

button {
  width: 50vmin;
  height: 50vmin;
  border: none;
  border-radius: 50%;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 10vmin;
  line-height: 1.5;
  cursor: pointer;
}

.green-button,
.blue-button {
  height: max-content;
  border-radius: 10vmin;
}

button[disabled] {
  background-color: #ffbdbd;
}

.green-button {
  background-color: #62ff84 !important;
}

.blue-button {
  background-color: #52d5ff;
}
